.overlay {
	position: absolute;
	width: 100%;
	height: 130%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: absolute;
	max-width: 520px;
	max-height: 250px;
	display: none;
	flex-direction: column;
	text-align: center;
	background-color: rgb(241, 76, 60);
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	border-radius: 5px;
	z-index: 5;
}

.modal__upperModal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(212, 70, 55);
	border-radius: 5px;
}

.modal__title {
	margin: 25px;
}

.modal__closeButton {
	cursor: pointer;
	padding: 25px;
}

.modal__text {
	margin: 40px;
}

.modal__actions {
	display: flex;
	justify-content: center;
	column-gap: 15px;
	padding-bottom: 25px;
}

.modal__actions-button {
	color: white;
	padding: 15px 40px;
	background-color: rgb(179, 56, 44);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
